button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 1%;
  width: 200px;
}

button:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
  transition-duration: 0.5s;
}
