.article-card {
  border: 1px solid black;
  color: black;
  margin: 2% 0%;
  padding: 1%;
  text-decoration: none;
  width: 28%;
}

.article-card:hover {
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}

@media only screen and (max-width: 800px) {
  .article-card {
    width: 80%;
  }
}
